Importing Libraries for Data Analysis

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Importing the Dataset

In [64]:
data = "https://docs.google.com/spreadsheets/d/1eUrPYL32VykYfRWIspYoBlWJk2g2CRM1e9nTX351_ds/gviz/tq?tqx=out:csv&gid=1039833698"

df2 = pd.read_csv(data)
df=pd.DataFrame(df2)

Overview

In [65]:
print(df.head())

   matchId  inning  over_ball  over  ball           batting_team  \
0   335982       1        0.1     0     1  Kolkata Knight Riders
1   335982       1        0.2     0     2  Kolkata Knight Riders
2   335982       1        0.3     0     3  Kolkata Knight Riders
3   335982       1        0.4     0     4  Kolkata Knight Riders
4   335982       1        0.5     0     5  Kolkata Knight Riders

                  bowling_team      batsman  non_striker   bowler  \
0  Royal Challengers Bangalore   SC Ganguly  BB McCullum  P Kumar
1  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar
2  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar
3  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar
4  Royal Challengers Bangalore  BB McCullum   SC Ganguly  P Kumar

   batsman_runs  extras  isWide  isNoBall  Byes  LegByes  Penalty  \
0             0       1     NaN       NaN   NaN      1.0      NaN
1             0       0     NaN       NaN   NaN      NaN      NaN
2             0       1     1.0       NaN   NaN      NaN      NaN
3             0       0     NaN       NaN   NaN      NaN      NaN
4             0       0     NaN       NaN   NaN      NaN      NaN

  dismissal_kind player_dismissed        date
0            NaN              NaN  2008-04-18
1            NaN              NaN  2008-04-18
2            NaN              NaN  2008-04-18
3            NaN              NaN  2008-04-18
4            NaN              NaN  2008-04-18

In [66]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   matchId           260920 non-null  int64
 1   inning            260920 non-null  int64
 2   over_ball         260920 non-null  float64
 3   over              260920 non-null  int64
 4   ball              260920 non-null  int64
 5   batting_team      260920 non-null  object
 6   bowling_team      260920 non-null  object
 7   batsman           260920 non-null  object
 8   non_striker       260920 non-null  object
 9   bowler            260920 non-null  object
 10  batsman_runs      260920 non-null  int64
 11  extras            260920 non-null  int64
 12  isWide            8381 non-null    float64
 13  isNoBall          1093 non-null    float64
 14  Byes              673 non-null     float64
 15  LegByes           4001 non-null    float64
 16  Penalty           2 non-null       float64
 17  dismissal_kind    12950 non-null   object
 18  player_dismissed  12950 non-null   object
 19  date              260920 non-null  object
dtypes: float64(6), int64(6), object(8)
memory usage: 39.8+ MB
None

Data Cleaning

In [67]:
print(df.isnull().sum())

matchId                  0
inning                   0
over_ball                0
over                     0
ball                     0
batting_team             0
bowling_team             0
batsman                  0
non_striker              0
bowler                   0
batsman_runs             0
extras                   0
isWide              252539
isNoBall            259827
Byes                260247
LegByes             256919
Penalty             260918
dismissal_kind      247970
player_dismissed    247970
date                     0
dtype: int64

In [68]:
df['isWide']=df['isWide'].fillna(0)
df['isNoBall']=df['isNoBall'].fillna(0)
df['Byes']=df['Byes'].fillna(0)
df['LegByes']=df['LegByes'].fillna(0)
df['Penalty']=df['Penalty'].fillna(0)
df['dismissal_kind']=df['dismissal_kind'].fillna('Not Dismissed')
df['player_dismissed']=df['player_dismissed'].fillna('Not Dismissed')
df['batsman_runs'] = df['batsman_runs'].fillna(0)
df['batsman'] = df['batsman_runs'].fillna(0)

print(df.isnull().sum())

matchId             0
inning              0
over_ball           0
over                0
ball                0
batting_team        0
bowling_team        0
batsman             0
non_striker         0
bowler              0
batsman_runs        0
extras              0
isWide              0
isNoBall            0
Byes                0
LegByes             0
Penalty             0
dismissal_kind      0
player_dismissed    0
date                0
dtype: int64

Analysis

In [69]:
df['runs_on_ball']=df['batsman_runs']+df['extras']

runs conceeded by each team on each ball on average vs overall runs scored on each ball

In [70]:
print(df.groupby('bowling_team')['runs_on_ball'].mean().sort_values(ascending=False))
print(df['runs_on_ball'].mean())

bowling_team
Royal Challengers Bengaluru    1.565797
Gujarat Lions                  1.435825
Punjab Kings                   1.420598
Lucknow Super Giants           1.418867
Gujarat Titans                 1.410111
Delhi Capitals                 1.372593
Kings XI Punjab                1.354846
Sunrisers Hyderabad            1.340102
Royal Challengers Bangalore    1.339340
Rajasthan Royals               1.329525
Delhi Daredevils               1.320694
Kolkata Knight Riders          1.317668
Mumbai Indians                 1.310776
Rising Pune Supergiants        1.308359
Chennai Super Kings            1.302037
Deccan Chargers                1.285319
Rising Pune Supergiant         1.263485
Pune Warriors                  1.256551
Kochi Tuskers Kerala           1.230483
Name: runs_on_ball, dtype: float64
1.3328069906484745

Runs Scored by each team on average

In [71]:


df.groupby('batting_team')['batsman_runs'].mean().sort_values(ascending=False)*120

batting_team
Royal Challengers Bengaluru    184.092409
Gujarat Titans                 160.691664
Punjab Kings                   158.794088
Lucknow Super Giants           157.355556
Delhi Capitals                 155.991230
Gujarat Lions                  155.771172
Chennai Super Kings            153.875257
Mumbai Indians                 152.480198
Royal Challengers Bangalore    152.355965
Sunrisers Hyderabad            151.852767
Rajasthan Royals               151.241521
Kings XI Punjab                151.237305
Kolkata Knight Riders          151.042895
Rising Pune Supergiant         149.684211
Rising Pune Supergiants        149.012658
Delhi Daredevils               147.058448
Deccan Chargers                144.587115
Kochi Tuskers Kerala           133.350190
Pune Warriors                  133.161859
Name: batsman_runs, dtype: float64

Average Death over strike rate of each team

In [72]:
death_overs=df[(df['over_ball']>=16.1) & (df['over_ball']<=19.6)]
death_overs.groupby('batting_team')['runs_on_ball'].mean().sort_values(ascending=False)*100

batting_team
Royal Challengers Bengaluru    180.838323
Gujarat Titans                 175.862069
Rising Pune Supergiants        171.372549
Chennai Super Kings            170.239234
Royal Challengers Bangalore    169.451804
Mumbai Indians                 167.647059
Lucknow Super Giants           167.361111
Punjab Kings                   162.027353
Rising Pune Supergiant         160.404624
Kolkata Knight Riders          159.983945
Delhi Daredevils               159.955329
Delhi Capitals                 158.763413
Rajasthan Royals               156.729094
Sunrisers Hyderabad            156.246826
Kings XI Punjab                153.207360
Deccan Chargers                152.647596
Gujarat Lions                  149.836066
Kochi Tuskers Kerala           141.949153
Pune Warriors                  134.500000
Name: runs_on_ball, dtype: float64

Average power play strike rate of each team

In [73]:
powerplay_strikerate=df[(df['over_ball']>=0.1) & (df['over_ball']<=5.6)]
powerplay_strikerate.groupby('batting_team')['runs_on_ball'].mean().sort_values(ascending=False)*100

batting_team
Royal Challengers Bengaluru    158.695652
Gujarat Lions                  138.303571
Delhi Capitals                 138.214496
Punjab Kings                   134.768054
Rising Pune Supergiant         131.028668
Sunrisers Hyderabad            130.802123
Gujarat Titans                 129.534606
Kochi Tuskers Kerala           127.566540
Lucknow Super Giants           127.000611
Kolkata Knight Riders          126.684435
Kings XI Punjab                125.528914
Rajasthan Royals               124.874464
Chennai Super Kings            124.277917
Mumbai Indians                 124.035517
Delhi Daredevils               122.318599
Royal Challengers Bangalore    122.058824
Deccan Chargers                121.528026
Rising Pune Supergiants        120.463320
Pune Warriors                  112.866547
Name: runs_on_ball, dtype: float64